*.pyc
__pycache__
myvenv
assetregister/static/logo
/media
.DS_Store
settings.py
settings-production.py
/mysite/whoosh_index
org.eclipse.core.resources.prefs
.project
.pydevproject
logo*
/static
/.settings