appdirs==1.4.3
Django==1.10.7
django-background-tasks==1.0.15
django-classy-tags==0.8.0
django-cleanup==0.4.2
django-compat==1.0.13
django-extensions==1.7.7
django-filter==1.0.1
django-grappelli==2.8.3
django-haystack==2.5.1
django-haystackbrowser==0.6.1
django-pyodbc-azure==1.10.4.0
django-python3-ldap==0.9.13
django-queryset-csv==1.0.0
djangorestframework==3.5.4
packaging==16.8
Pillow==3.4.2
pyodbc==3.1.1
pyparsing==2.2.0
six==1.10.0
sqlparse==0.2.1
unicodecsv==0.14.1
Whoosh==2.7.4
