{% extends 'assetregister/base.html' %}

{% block content %}

	<ul class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Search</li>
	</ul>

	<h3>Search</h3>
	<a href="{% url 'asset_list_filter' %}">Use Advanced Search</a>
    <br /><br />
    
    <form method="get" action=".">
       {% if query %}
            {% for result in page.object_list %}
                <p>
                    <h4><a href="{{ result.object.get_absolute_url }}">{{ result.object.asset_description }}</a></h4><br />
                    {% if result.object.asset_manufacturer %}
                        Manufacturer: {{ result.object.asset_manufacturer }} <br />
                    {% endif %}
                    {%if result.object.asset_location_building %}
                        Location: {{ result.object.asset_location_building }} <br />
                    {% endif %}
                    <hr>
                </p> </br >
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.paginator.count %}
                <br /><br />
                Showing {{ page.object_list|length }} of {{ page.paginator.count }} Results on Page {{ page.number }} of {{ page.paginator.num_pages }}
                <br /><br />
            {% endif %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            Please enter terms to search for.
        {% endif %}
    </form>
    
{% endblock %}