{% extends 'assetregister/base.html' %}

{% block content %}

	<ul class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="/search">Search</a></li>
	  <li class="active">Advanced Search</li>
	</ul>

	<h2>Advanced Search</h2>
	
	{% if number %}
		<b>Returned {{ number }} Assets</b>
		<br />
	{% endif %}

	{% if filter.qs.paginator.count %}
		<div class="pagination">
			{% if filter.qs.paginator.count %}
			    Showing {{ filter.qs.object_list|length }} of {{ filter.qs.paginator.count }} Results on Page {{ filter.qs.number }} of {{ filter.qs.paginator.num_pages }}
			    <br />
			{% endif %}
			
			{% if filter.qs.has_previous or assets.has_next %}
				<ul class="pager">
					{% if filter.qs.has_previous %}
						<li class="previous"><a href="?page={{ filter.qs.previous_page_number }}">&laquo; Previous</a></li>
					{% else %}
						<li class="previous disabled"><a href="">&laquo; Previous</a></li>
					{% endif %}
					
					{% if filter.qs.has_next %}
						<li class="next"><a href="?page={{ filter.qs.next_page_number }}">Next &raquo;</a></li>
					{% else %}
						<li class="next disabled"><a href="">Next &raquo;</a></li>
					{% endif %}
				</ul>
			{% endif %}
		</div>
	{% endif %}
	
	{% for asset in filter.qs %}
		</br>
    	<div class="asset">
            <a href="{% url 'asset_detail' pk=asset.pk %}"><h4>{{ asset.asset_description }}</h4></a>
            
            <p>AMRC Asset Number: {{ asset.asset_id }} </p>
            
            {% if asset.asset_manufacturer %}
                <p>Manufacturer: {{ asset.asset_manufacturer }}</p> 
            {% endif %}
            
            {% if asset.asset_location_building %}
                Location (Building): {{ asset.asset_location_building }} 
            {% endif %}
            
            {% if asset.asset_location_room %}
                <br />Location (Area): {{ asset.asset_location_room }} 
            {% endif %}
            <hr>
        </div>
    {% endfor %}
    
	{% if filter.qs.paginator.count %}
		<div class="pagination">
			{% if filter.qs.paginator.count %}
			    Showing {{ filter.qs.object_list|length }} of {{ filter.qs.paginator.count }} Results on Page {{ filter.qs.number }} of {{ filter.qs.paginator.num_pages }}
			    <br />
			{% endif %}
			
			{% if filter.qs.has_previous or assets.has_next %}
				<ul class="pager">
					{% if filter.qs.has_previous %}
						<li class="previous"><a href="?page={{ filter.qs.previous_page_number }}">&laquo; Previous</a></li>
					{% else %}
						<li class="previous disabled"><a href="">&laquo; Previous</a></li>
					{% endif %}
					
					{% if filter.qs.has_next %}
						<li class="next"><a href="?page={{ filter.qs.next_page_number }}">Next &raquo;</a></li>
					{% else %}
						<li class="next disabled"><a href="">Next &raquo;</a></li>
					{% endif %}
				</ul>
			{% endif %}
		</div>
	{% endif %}

	<br />

	<div class="well">
		<h5>All filters on this form are combined
			<br />e.g. Asset model contains "X" AND Asset serial number contains "Y"</h5>
		<br />	
		
		<form action="" method="get" class="form-horizontal asset-form">
			<fieldset>
				
				{% for field in filter.form %}
					<div class="form-group">
						<label class="col-lg-3 control-label">{{ field.label_tag }}</label>
						<div class="col-lg-6">
							{{ field.errors }}
							{{ field }}
						</div>
					</div>
				{% endfor %}
				
				<br />
				<br />
				
				<div class="form-group">
					<label for="inputEmail" class="col-lg-3 control-label"><label for="makecsv">Results To:</label></label>
					<div class="col-lg-6">
						<select class="form-control" id="makecsv" name="makecsv">
							<option value="1" selected="selected">Website</option>
							<option value="2">Export CSV (Open with MS Excel)</option>
						</select>
					</div>
				</div>
				
				<br />
				
				<div class="form-group">
					<div class="col-lg-3 col-lg-offset-3">
						<a href="{{request.META.HTTP_REFERER}}" class="btn btn-default">Back</a>
						<button type="reset" class="btn btn-default">
							Cancel
						</button>
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</div>
				</div>
			</fieldset>
	    </form>
	</div>
    
{% endblock %}
