{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/assets.css' %}">
    <link rel="stylesheet" href="{% static 'css/hidefromprint.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="qr">
        <table>
            <tr>
                <td>
                	<div align="center">
                    	<img src="http://chart.googleapis.com/chart?cht=qr&amp;chs=90x90&amp;chl=http://localhost:8000{% url 'asset_detail' pk=asset.pk %}&amp;chld=Q|0" />
                    	<br /><div id="small_qr">AMRC Asset ID: {{ asset.asset_id }}</div>
                    </div>
                </td>
            </tr>
            <tr>
            	<td>
            		<div align="center" class="dontPrint">
            			<br />
            			<script language="JavaScript"> 
							if (window.print) {document.write('<form><input type=button name=print value="Print this page" onClick="window.print()"></form>');}
						</script>
            		</div>
            	</td>
            </tr>
        </table>
    </div>
</body>
</html>