{% extends 'assetregister/base.html' %}

    {% block content %}
    
    <ul class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="{% url 'asset_list' %}">Assets</a></li>
		<li class="active">Details</li>
	</ul>

    
        <div class="asset">
            
            <h2>
            	{{ asset.asset_description }}
            
	            {% if user.is_authenticated %}
	                <a class="btn btn-default" href="{% url 'asset_edit' pk=asset.pk %}" title="Edit asset"><span class="glyphicon glyphicon-edit gi-1x"></span></a>
	            {% endif %}
	            {% if request.user.is_superuser %}
	                <a class="btn btn-default" href="{% url 'asset_confirm_delete' pk=asset.pk %}" title="Delete asset"><span class="glyphicon glyphicon-trash gi-1x"></span></a>
	            {% endif %}
            </h2>
            
            {% if asset.asset_image_thumbnail%}
                	<p><a href="/media/{{ asset.asset_image }}" target="_blank"><img src="/media/{{ asset.asset_image_thumbnail }}"></a></p>
            {% endif %}
            
            <!-- big table -->
			<table class="table table-striped">
				<tbody>
					<tr>
						<td class="col-md-3"><b>AMRC Asset Number:</b></td>
						<td><b>{{ asset.asset_id }}</b></td>
					</tr>
					{% if asset.asset_status %}
						<tr>
							<td class="col-md-3">Current Staus:</td>
							<td>{{ asset.asset_status}}</td>
						</tr>
					{% endif %}

					{% if asset.asset_manufacturer %}
						<tr>
							<td class="col-md-3">Manufacturer:</td>
							<td>{{ asset.asset_manufacturer }}</td>
						</tr>
					{% endif %}
        			
					{% if asset.asset_model %}
						<tr>
							<td class="col-md-3">Model:</td>
							<td>{{ asset.asset_model }}</td>
						</tr>
        			{% endif %}
					
					{% if asset.asset_serial_number %}
						<tr>
							<td class="col-md-3">Serial Number:</td>
							<td>{{ asset.asset_serial_number }}</td>
						</tr>
        			{% endif %}
        			
        			{% if asset.amrc_equipment_id %}
						<tr>
							<td class="col-md-3">AMRC Equipment ID:</td>
							<td>{{ asset.amrc_equipment_id }}</td>
						</tr>
        			{% endif %}
        			
        			{% if asset.asset_value %}
						<tr>
							<td class="col-md-3">Value:</td>
							<td>£{{ asset.asset_value }}</td>
						</tr>
        			{% endif %}
        			
        			{% if asset.charge_out_rate %}
						<tr>
							<td class="col-md-3">Charge Out Rate:</td>
							<td>£{{ asset.charge_out_rate }}</td>
						</tr>
        			{% endif %}
        			
        			{% if asset.purchase_order_ref %}							
        				<tr>
							<td class="col-md-3">PO Ref:</td>
							<td>{{ asset.purchase_order_ref }}</td>
						</tr>
        			{% endif %}
        			
        			{% if asset.funded_by %}
						<tr>
							<td class="col-md-3">Funded By:</td>
							<td>{{ asset.funded_by }}</td>
						</tr>
        			{% endif %}
        			
        			{% if asset.acquired_on %}
						<tr>
							<td class="col-md-3">Acquired On:</td>
							<td>{{ asset.acquired_on }}</td>
						</tr>
        			{% endif %}
        			
        			{% if asset.disposal_date %}
						<tr>
							<td class="col-md-3">Disposal Date:</td>
							<td>{{ asset.disposal_date }}</td>
						</tr>
        			{% endif %}
        			
        			{% if asset.person_responsible %}
						<tr>
							<td class="col-md-3">Person Responsible:</td>
							<td>{{ asset.person_responsible }}</td>
						</tr>
        			{% endif %}
        			
        			{% if asset.person_responsible_email %}
						<tr>
							<td class="col-md-3">Person Responsible Email:</td>
							<td><a href="mailto:{{ asset.person_responsible_email }}">{{ asset.person_responsible_email }}</a></td>
						</tr>
        			{% endif %}
        			
        			{% if asset.asset_location_building %}
        				<tr>
        					<td class="col-md-3">Location (Building):</td>
        					<td>{{ asset.asset_location_building }}</td>
        				</tr>
        			{% endif %}
        			
        			{% if asset.asset_location_room %}
        				<tr>
        					<td class="col-md-3">Location (Room or Group etc.):</td>
        					<td>{{ asset.asset_location_room }}</td>
        				</tr>
        			{% endif %}
        			
				</tbody>
			</table>

            {% if asset.asset_details %}
            	<div class="panel-group">
					<div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#collapse-details">
					        	<div id="calibration-expand-container">
					        		<div id="calibration-expand-left" align="left">Asset Details / Notes</div>
					        		<div id="calibration-expand-right" align="right"><span class=" glyphicon glyphicon-triangle-bottom gi-1x"></span></div>
					        	</div>
					        </a>
					      </h4>
					    </div>
					    <div id="collapse-details" class="panel-collapse collapse">
					    	<div class="panel-body">
                				{{ asset.asset_details|linebreaks }}
                			</div>
						</div>
					</div>
				</div>
            {% endif %}
            
            
            {% if asset.requires_calibration %}
	            <div class="panel-group">
	            	{% if calibration_OK %}
						<div class="panel panel-success">
					{% else %}
						<div class="panel panel-danger">
					{% endif %}
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" href="#collapse-calibration">
						        	<div id="calibration-expand-container">
						        		{% if user.is_authenticated %}
						        			<div id="calibration-expand-left" align="left">All Calibration Records</div>
						        		{% else %}
						        			<div id="calibration-expand-left" align="left">Last 3 Calibration Records</div>
						        		{% endif %}
						        		<div id="calibration-expand-right" align="right"><span class=" glyphicon glyphicon-triangle-bottom gi-1x"></span></div>
						        	</div>
						        </a>
						      </h4>
						    </div>
						    <div id="collapse-calibration" class="panel-collapse collapse">
						    	<div class="panel-body">
						    		
						   			{% if last_cal %}     				
	     								<p>
	                						{% if last_cal.calibration_outcome == 'Pass' %}
	              								Last Calibration Result: <b>Pass <span class="glyphicon glyphicon-ok gi-2x"></span></b>
	              							{% else %}
	              								Last Calibration Result: <b>Fail <span class="glyphicon glyphicon-remove gi-2x"></span></b>
	              							{% endif %}
	              						</p>
	              						
	     								<p>
	     									Next Calibration Due: <b>{{ last_cal.calibration_date_next }}</b>
	     									{% if last_cal.calibration_date_next >= curdate %}
	     										<span class="glyphicon glyphicon-ok gi-2x"></span>
	     									{% else %}
	     										<span class="glyphicon glyphicon-remove gi-2x"></span>
	     									{% endif %}
	     								</p>
     								{% endif %}

						    		{% if calibrations %}
							    		<table class="table table-hover ">
											<thead>
												<tr>
												    <th>Calibration</th>
												    <th>Calibration Date</th>
												    <th>Result</th>
												    <th>Next Calibration Due</th>
												</tr>
											</thead>
											<tbody>
												{% if user.is_authenticated %}
													{% for calibration in allcalibrations %}
														{% if calibration.calibration_outcome == 'Pass' %}
															<tr>
														{% else %}
															<tr class="danger">
														{% endif %}	
																<td>
																	{% if calibration.pk == last_cal.pk %}
																	 	<span class="glyphicon glyphicon-time" title="Latest Calibration"></span>
																	 {% endif %}
																	<a href="{% url 'calibration_detail' slug=calibration.slug %}">{{ calibration.calibration_description }}</a>
																</td>
																<td>{{ calibration.calibration_date }}</td>
																<td><b>{{ calibration.calibration_outcome }}</b></td>
																<td>{{ calibration.calibration_date_next }}</td>
															</tr>
													{% endfor %}
												{% else %}
													{% for calibration in calibrations %}
														{% if calibration.calibration_outcome == 'Pass' %}
															<tr>
														{% else %}
															<tr class="danger">
														{% endif %}	
																<td>
																	{% if calibration.pk == last_cal.pk %}
																	 	<span class="glyphicon glyphicon-time" title="Latest Calibration"></span>
																	 {% endif %}
																	<a href="{% url 'calibration_detail' slug=calibration.slug %}">{{ calibration.calibration_description }}</a>
																</td>
																<td>{{ calibration.calibration_date }}</td>
																<td><b>{{ calibration.calibration_outcome }}</b></td>
																<td>{{ calibration.calibration_date_next }}</td>
															</tr>
													{% endfor %}
												{% endif %}
											</tbody>
										</table>
									{% else %}
										<h5>No calibration records yet :(</h5>
									{% endif %}	
									
									{% if user.is_authenticated %}
							            {% if asset.calibration_instructions %}
							            	<br />
							                <p><a href="{{ asset.calibration_instructions }}" target="_blank"><span class="glyphicon glyphicon-file gi-1x"></span> Calibration Instructions</a></p>
							            {% endif %}
								    {% endif %}
						    	</div>
						    	{% if user.is_authenticated %}
							      	<div class="panel-footer">
							      		<a href="{% url 'new_calibration_asset' urlpk=asset.pk %}">Add Calibration Record</a>
							      	</div>
							    {% endif %}
							</div>
						</div>
					</div>
            {% endif %}
            
            {% if asset.requires_safety_checks or asset.safety_notes %}
            	<div class="panel-group">
					<div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#collapse-safety">
					        	<div id="calibration-expand-container">
					        		<div id="calibration-expand-left" align="left">Safety</div>
					        		<div id="calibration-expand-right" align="right"><span class=" glyphicon glyphicon-triangle-bottom gi-1x"></span></div>
					        	</div>
					        </a>
					      </h4>
					    </div>
					    <div id="collapse-safety" class="panel-collapse collapse">
					    	<div class="panel-body">
                				<p>Requires Safety Checks: <span class="glyphicon glyphicon-ok gi-1x"></span></p>
                				{% if asset.safety_notes %}
									<p>
										<b>Notes:</b>
										{{ asset.safety_notes|linebreaks }}
									</p>
								{% endif %}
                			</div>
						</div>
					</div>
				</div>
            {% endif %}
            
            {% if asset.requires_environmental_checks or asset.environmental_aspects.all or asset.environmental_notes %}
           		<div class="panel-group">
					<div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#collapse-enviro">
					        	<div id="calibration-expand-container">
					        		<div id="calibration-expand-left" align="left">Environmental</div>
					        		<div id="calibration-expand-right" align="right"><span class=" glyphicon glyphicon-triangle-bottom gi-1x"></span></div>
					        	</div>
					        </a>
					      </h4>
					    </div>
					    <div id="collapse-enviro" class="panel-collapse collapse">
					    	<div class="panel-body">
					    		{% if asset.requires_environmental_checks %}
					    			<p>Requires Environmental Checks: <span class="glyphicon glyphicon-ok gi-1x"></span></p>
					    		{% endif %}
					    		
					    		{% if asset.environmental_aspects.all %}
						    		<table class="table table-striped table-hover ">
										<thead>
											<tr>
											    <th>Environmental Aspects</th>
											    <th>Applies To Asset</th>
											    <th></th>
											</tr>
										</thead>
										<tbody>
											{% for easpect in asset.environmental_aspects.all %}
												<tr>
													<td>{{ easpect.aspect }}</td>
													<td><span class="glyphicon glyphicon-ok gi-2x"></span></td>
													<td></td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								{% endif %}
								
								{% if asset.environmental_notes %}
									<p>
										<b>Notes:</b>
										{{ asset.environmental_notes|linebreaks }}
									</p>
								{% endif %}
					    	</div>
						</div>
					</div>
				</div>
            {% endif %}
            
            {% if asset.emergency_response_information %}
            	<div class="panel-group">
					<div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#collapse-emergency">
					        	<div id="calibration-expand-container">
					        		<div id="calibration-expand-left" align="left">Emergency Response Information</div>
					        		<div id="calibration-expand-right" align="right"><span class=" glyphicon glyphicon-triangle-bottom gi-1x"></span></div>
					        	</div>
					        </a>
					      </h4>
					    </div>
					    <div id="collapse-emergency" class="panel-collapse collapse">
					    	<div class="panel-body">
								{{ asset.emergency_response_information|linebreaks }}
					    	</div>
						</div>
					</div>
				</div>
            {% endif %}
            
            {% if asset.requires_planned_maintenance or asset.maintenance_notes %}
            	<div class="panel-group">
					<div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#collapse-maintenance">
					        	<div id="calibration-expand-container">
					        		<div id="calibration-expand-left" align="left">Maintenance</div>
					        		<div id="calibration-expand-right" align="right"><span class=" glyphicon glyphicon-triangle-bottom gi-1x"></span></div>
					        	</div>
					        </a>
					      </h4>
					    </div>
					    <div id="collapse-maintenance" class="panel-collapse collapse">
					    	<div class="panel-body">
                				<p>Requires Planned Preventative Maintenance: <span class="glyphicon glyphicon-ok gi-1x"></span></p>
                				{% if asset.maintenance_notes %}
									<p>
										<b>Notes:</b>
										{{ asset.maintenance_notes|linebreaks }}
									</p>
								{% endif %}
				               	{% if asset.maintenance_records %}
				               		<br />
				               		<p><a href="{{ asset.maintenance_records }}" target="_blank"><span class="glyphicon glyphicon-file gi-1x"></span> Maintenance Records</a></p>
				               	{% endif %}
								{% if asset.maintenance_instructions %}
									<p><a href="{{ asset.maintenance_instructions }}" target="_blank"><span class="glyphicon glyphicon-file gi-1x"></span> Download Maintenance Instructions</a></p>
								{% endif %}
                			</div>
						</div>
					</div>
				</div>
            {% endif %}
            
            
            {% if asset.parent_assets.all %}
           		<div class="panel-group">
					<div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#collapse-related">
					        	<div id="calibration-expand-container">
					        		<div id="calibration-expand-left" align="left">Related To</div>
					        		<div id="calibration-expand-right" align="right"><span class=" glyphicon glyphicon-triangle-bottom gi-1x"></span></div>
					        	</div>
					        </a>
					      </h4>
					    </div>
					    <div id="collapse-related" class="panel-collapse collapse">
					    	<div class="panel-body">
					    		<table class="table table-striped table-hover ">
									<thead>
										<tr>
										    <th>Asset I.D.</th>
										    <th>Asset Description</th>
										    <th></th>
										</tr>
									</thead>
									<tbody>
										{% for relative in asset.parent_assets.all %}
											<tr>
												<td><a href="{% url 'asset_detail' pk=relative.asset_id %}">{{ relative.asset_id }}</a></td>
												<td><a href="{% url 'asset_detail' pk=relative.asset_id %}">{{ relative }}</a></td>
												<td><a href="{% url 'asset_detail' pk=relative.asset_id %}"><img src="/media/{{ relative.asset_image_thumbnail }}" width="50%" height="50%"></a></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
					    	</div>
						</div>
					</div>
				</div>
			{% endif %}
            
            <br />
            <p>Asset Record Last Edited {{ asset.edited_on }} by {{ asset.edited_by }}</p>
            <br />
            
            {% if asset.asset_handling_and_storage_instructions %}
                <p><a href="{{ asset.asset_handling_and_storage_instructions }}" target="_blank"><span class="glyphicon glyphicon-file gi-1x"></span>  Download Handling and Storage Instructions</a></p>
            {% endif %}
            
            {% if asset.asset_operating_instructions %}
                <p><a href="{{ asset.asset_operating_instructions }}" target="_blank"><span class="glyphicon glyphicon-file gi-1x"></span>  Download Operating Instructions</a></p>
            {% endif %}            
            
            <br />
            <a href="{% url 'asset_qr' pk=asset.pk %}" target="_blank" class="btn btn-primary btn-sm" onclick="window.open('{% url 'asset_qr' pk=asset.pk %}', 'newwindow', 'width=665, height=310'); return false;"><span class="glyphicon glyphicon-barcode gi-1x"></span>  Generate Large Asset QR Code</a>
            <a href="{% url 'asset_qr_small' pk=asset.pk %}" target="_blank" class="btn btn-primary btn-sm" onclick="window.open('{% url 'asset_qr_small' pk=asset.pk %}', 'newwindow2', 'width=130, height=190'); return false;"><span class="glyphicon glyphicon-barcode gi-1x"></span>  Generate Small Asset QR Code</a>
        </div>

    {% endblock %}