{% extends 'assetregister/base.html' %}
{% load has_group %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Assets</li>
</ul>

    <div class="count">
        We currently have a total of <b>{{ asset_count }}</b> asset records.   
        {% if request.user|has_group:"AddEditAssets" %} 
        	(<a href="{% url 'asset_new' %}">Add new asset</a>)
        {% endif %}	
    </div>

    {% for asset in assets %}
        <div class="asset">
            
            <a href="{% url 'asset_detail' pk=asset.pk %}"><h3>{{ asset.asset_description }}</h3></a>
                    
            {% if asset.asset_image_thumbnail %}
                <p><a href="{% url 'asset_detail' pk=asset.pk %}"><img src="/media/{{ asset.asset_image_thumbnail }}"></a></p>
            {% endif %}
            
            <p>AMRC Asset Number: {{ asset.asset_id }} </p>
            
            {% if asset.asset_manufacturer %}
                <p>Manufacturer: {{ asset.asset_manufacturer }}</p> 
            {% endif %}
            {% if asset.asset_location_building %}
                Location (Building): {{ asset.asset_location_building }} 
            {% endif %}
            {% if asset.asset_location_room %}
                <br />Location (Area): {{ asset.asset_location_room }} 
            {% endif %}
            <hr>
        </div>
    {% endfor %}
    
	
	<div class="pagination">
		{% if assets.has_previous or assets.has_next %}
			<ul class="pager">
				{% if assets.has_previous %}
					<li class="previous"><a href="?page={{ assets.previous_page_number }}">&laquo; Previous</a></li>
				{% else %}
					<li class="previous disabled"><a href="">&laquo; Previous</a></li>
				{% endif %}
				
				{% if assets.paginator.count %}
		    		 &nbsp; &nbsp; Page {{ assets.number }} of {{ assets.paginator.num_pages }} &nbsp; &nbsp; 
				{% endif %}
				
				{% if assets.has_next %}
					<li class="next"><a href="?page={{ assets.next_page_number }}">Next &raquo;</a></li>
				{% else %}
					<li class="next disabled"><a href="">Next &raquo;</a></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>

    <br />
    
{% endblock %}
