{% extends "assetregister/base.html" %}

<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="{% url 'asset_list' %}">Assets</a></li>
  <li class="active">Remove</li>
</ul>

{% block content %}
    <h1>Confirm Asset Deletion</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to permanently delete "{{ object }}" and all associated calibration records?</p>
        <p>It is usually better to keep a record of all assets that have ever been on site... <br />
        Consider changing this asset's status to "archived" instead?</p>
        <p><b>If you are absolutely sure you want to permanently delete this asset and all associated records, click "Confirm".</b></p>
        <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);"/>
        <input type="submit" value="Confirm" />
    </form>
{% endblock %}