{% extends 'assetregister/base.html' %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Assets</li>
</ul>

    <div class="count">
        We currently have a total of <b>{{ asset_count }}</b> asset records.   
        {% if user.is_authenticated %}
        	(<a href="{% url 'asset_new' %}">Add new asset</a>)
        {% endif %}	
    </div>

    {% for asset in assets %}
        <div class="asset">
            
            <a href="{% url 'asset_detail' pk=asset.pk %}"><h3>{{ asset.asset_description }}</h3></a>
                    
            {% if asset.asset_image_thumbnail %}
                <p><a href="{% url 'asset_detail' pk=asset.pk %}"><img src="/media/{{ asset.asset_image_thumbnail }}"></a></p>
            {% endif %}
            
            <p>Asset ID: {{ asset.asset_id }} </p>
            
            {% if asset.asset_manufacturer %}
                <p>Manufacturer: {{ asset.asset_manufacturer }}</p> 
            {% endif %}
            {% if asset.asset_location_building %}
                Location (Building): {{ asset.asset_location_building }} 
            {% endif %}
            {% if asset.asset_location_room %}
                <br />Location (Area): {{ asset.asset_location_room }} 
            {% endif %}
            <hr>
        </div>
    {% endfor %}
    
{% endblock %}