{% extends 'assetregister/base.html' %}

    {% block content %}
    
        <div class="asset">
            
            <h3>{{ asset.asset_description }}</h3>
            
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'asset_edit' pk=asset.pk %}" title="Edit asset"><span class="glyphicon glyphicon-edit gi-2x"></span></a>
            {% endif %}
            {% if request.user.is_superuser %}
                <a class="btn btn-default" href="{% url 'asset_confirm_delete' pk=asset.pk %}" title="Delete asset"><span class="glyphicon glyphicon-trash gi-2x"></span></a>
            {% endif %}
            
            <br /><br />
            
            <p>Asset I.D. {{ asset.asset_id }}</p>

            {% if asset.asset_image_thumbnail%}
                <p><a href="/media/{{ asset.asset_image }}" target="_blank"><img src="/media/{{ asset.asset_image_thumbnail }}"></a></p>
            {% endif %}
            
            {% if asset.asset_details %}
                <p>Asset Details / Notes: {{ asset.asset_details|linebreaks }}</p> <br />
            {% endif %}
            
            {% if asset.asset_manufacturer %}
                <p>Manufacturer: {{ asset.asset_manufacturer }}</p>
            {% endif %}
            
            {% if asset.asset_model %}
                <p>Model: {{ asset.asset_model }}</p>
            {% endif %}
            
            {% if asset.asset_serial_number %}
                <p>Serial Number: {{ asset.asset_serial_number }}</p>
            {% endif %}
            
            {% if asset.asset_status %}
                <p>Current Staus: {{ asset.asset_status}}</p>
            {% endif %}
            
            {% if asset.person_responsible %}
                <p>Person Responsible: {{ asset.person_responsible }}</p>
            {% endif %}
            
            {% if asset.person_responsible_email %}
                <p>Person Responsible Email: <a href="mailto:{{ asset.person_responsible_email }}">{{ asset.person_responsible_email }}</a></p>
            {% endif %}
            
            {% if asset.requires_calibration %}
                <p>Requires Calibration: {{ asset.requires_calibration }}
                <br />Last Calibrated: {{ asset.calibration_date_prev }}
                <br />Next Calibration Due: {{ asset.calibration_date_next }}</p>
            {% endif %}
            
            {% if asset.requires_safety_checks %}
                <p>Requires Safety Checks: {{ asset.requires_safety_checks }}</p>
            {% endif %}
            
            {% if asset.requires_environmental_checks %}
                <p>Requires Environmental Checks: {{ asset.requires_environmental_checks }}</p>
            {% endif %}
            
            {% if asset.requires_planned_maintenance %}
                <p>Requires Planned Preventative Maintenance: {{ asset.requires_planned_maintenance }}</p>
            {% endif %}
            
            {% if asset.asset_value %}
                <p>Value: £{{ asset.asset_value }}</p>
            {% endif %}
            
            {% if asset.purchase_order_ref %}
                <p>PO Ref: {{ asset.purchase_order_ref }}</p>
            {% endif %}
            
            {% if asset.funded_by %}
                <p>Funded By: {{ asset.funded_by }}</p>
            {% endif %}
            
            {% if asset.acquired_on %}
                <p>Acquired On: {{ asset.acquired_on }}</p>
            {% endif %}
            
            {% if asset.related_to_other_asset %}
                <p>'Child' of: {{ asset.related_to_other_asset }}</p>
            {% endif %}
            
            {% if asset.asset_location_building %}
                <p>Location (Building): {{ asset.asset_location_building }}</p>
            {% endif %}
            
            {% if asset.asset_location_room %}
                <p>Location (Room): {{ asset.asset_location_room }}</p>
            {% endif %}
            
            <p>Asset Record Last Edited On: {{ asset.edited_on }}</p>
            
            <p>Asset Last Edited By: {{ asset.edited_by }}</p>
            
            <br /><br />
            
            {% if asset.calibration_instructions %}
                <p><a href="{{ asset.calibration_instructions }}" target="_blank">Download Calibration Instructions</a></p>
            {% endif %}    
            
            {% if asset.maintenance_instructions %}
                <p><a href="{{ asset.maintenance_instructions }}" target="_blank">Download Maintenance Instructions</a></p>
            {% endif %}
            
            <br />
            <a href="{% url 'asset_qr' pk=asset.pk %}" target="_blank" onclick="window.open('{% url 'asset_qr' pk=asset.pk %}', 'newwindow', 'width=665, height=310'); return false;">Generate Large Asset QR Code</a>
            <br />
            <a href="{% url 'asset_qr_small' pk=asset.pk %}" target="_blank" onclick="window.open('{% url 'asset_qr_small' pk=asset.pk %}', 'newwindow2', 'width=130, height=190'); return false;">Generate Small Asset QR Code</a>
        </div>

    {% endblock %}