{% extends "assetregister/base.html" %}

{% block content %}

	<ul class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="{% url 'asset_list' %}">Assets</a></li>
	  <li class="active">Edit</li>
	</ul>

    <h2>Asset {{ type }} Details</h2>
    <br />
    <div class="well">
	    <form enctype="multipart/form-data" method="POST" class="form-horizontal asset-form">{% csrf_token %}
			<fieldset>
				{% for field in form %}
					<div class="form-group">
						{{ field.errors }}
						<label for="inputEmail" class="col-lg-3 control-label">{{ field.label_tag }}</label>
						<div class="col-lg-6">
							{{ field }}
						</div>
					</div>
				{% endfor %}
					<div class="form-group">
						<div class="col-lg-3 col-lg-offset-3">
							<button type="reset" class="btn btn-default">
								Cancel
							</button>
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
						</div>
					</div>
			</fieldset>
	    </form>
    </div>
{% endblock %}