{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/assets.css' %}">
    <link rel="stylesheet" href="{% static 'css/hidefromprint.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="qr">
        <table>
            <tr>
                <td>
                    <img src="{% static 'logo/logo.png' %}">
                </td>
                <td>
                    <img src="http://chart.googleapis.com/chart?cht=qr&amp;chs=154x154&amp;chl={{ baseurl }}{% url 'asset_detail' pk=asset.pk %}&amp;chld=Q|0" />
                    <div align="center"><small>AMRC Asset ID: {{ asset.asset_id }}</small></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                	<div align="center">
                		<small>https://amrcassets.shef.ac.uk/asset/{{ asset.asset_id }}</small>
                	</div>
                	<div>&nbsp;</div>
                    <div align="center" id="qr_description">
                    	{% if asset.asset_manufacturer %}
                        	{{asset.asset_manufacturer}} - 
                        {% endif %}
                        {{ asset.asset_description }}
                    </div>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
            		<div align="center" class="dontPrint" id="small_qr">
            			<br /><br />
            			<script language="JavaScript"> 
							if (window.print) {document.write('<form><input type=button name=print value="Print this page" onClick="window.print()"></form>');}
						</script>
            		</div>
            	</td>
            </tr>
        </table>
    </div>
</body>
</html>