{% extends 'assetregister/base.html' %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'asset_list' %}">Assets</a></li>
  <li class="active">Active</li>
</ul>

    <div class="count">
        <b>{{ active_asset_count }}</b> assets are currently marked "active (in-use)" out of a total of {{ asset_count }} asset records.
        {% if request.user|has_group:"AddEditAssets" %} 
        	(<a href="{% url 'asset_new' %}">Add new asset</a>)
        {% endif %}	
    </div>

    {% for asset in assets %}
        <div class="asset">
            
            <a href="{% url 'asset_detail' pk=asset.pk %}"><h3>{{ asset.asset_description }}</h3></a>
                    
            {% if asset.asset_image_thumbnail %}
                <p><a href="{% url 'asset_detail' pk=asset.pk %}"><img src="/media/{{ asset.asset_image_thumbnail }}"></a></p>
            {% endif %}
            
            <p>AMRC Asset Number: {{ asset.asset_id }} </p>
            
            {% if asset.asset_manufacturer %}
                <p>Manufacturer: {{ asset.asset_manufacturer }} </p>
            {% endif %}
            <hr>
        </div>
    {% endfor %}
    
    <div class="pagination">
		{% if assets.paginator.count %}
		    Showing {{ assets.object_list|length }} of {{ assets.paginator.count }} Results on Page {{ assets.number }} of {{ assets.paginator.num_pages }}
		    <br />
		{% endif %}
		
		{% if assets.has_previous or assets.has_next %}
			<ul class="pager">
				{% if assets.has_previous %}
					<li class="previous"><a href="?page={{ assets.previous_page_number }}">&laquo; Previous</a></li>
				{% else %}
					<li class="previous disabled"><a href="">&laquo; Previous</a></li>
				{% endif %}
				
				{% if assets.has_next %}
					<li class="next"><a href="?page={{ assets.next_page_number }}">Next &raquo;</a></li>
				{% else %}
					<li class="next disabled"><a href="">Next &raquo;</a></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
    
{% endblock %}