{% extends 'assetregister/base.html' %}

{% block content %}

	<ul class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="/search">Search</a></li>
	  <li class="active">Advanced Search</li>
	</ul>

	<h3>Advanced Search</h3>
	
	<h5>All filters on this form are combined
		<br />e.g. Asset model contains "X" AND Asset serial number contains "Y"</h5>
	<br />	
	
	<form action="" method="get" class="form-horizontal asset-form">
		<fieldset>
			{% for field in filter.form %}
				<div class="form-group">
					<label for="inputEmail" class="col-lg-3 control-label">{{ field.label_tag }}</label>
					<div class="col-lg-6">
						{{ field }}
					</div>
				</div>
			{% endfor %}
				<div class="form-group">
					<div class="col-lg-3 col-lg-offset-3">
						<button type="reset" class="btn btn-default">
							Cancel
						</button>
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</div>
				</div>
		</fieldset>
    </form>
    
	<br />
	<br />
	
    {% for asset in filter.qs %}
    	<div class="asset">
            <a href="{% url 'asset_detail' pk=asset.pk %}"><h3>{{ asset.asset_description }}</h3></a>
            
            <p>AMRC Asset Number: {{ asset.asset_id }} </p>
            
            {% if asset.asset_manufacturer %}
                <p>Manufacturer: {{ asset.asset_manufacturer }}</p> 
            {% endif %}
            
            {% if asset.asset_location_building %}
                Location (Building): {{ asset.asset_location_building }} 
            {% endif %}
            
            {% if asset.asset_location_room %}
                <br />Location (Area): {{ asset.asset_location_room }} 
            {% endif %}
            <hr>
        </div>
    {% endfor %}

	<div class="pagination">
		{% if filter.qs.paginator.count %}
		    Showing {{ filter.qs.object_list|length }} of {{ filter.qs.paginator.count }} Results on Page {{ filter.qs.number }} of {{ filter.qs.paginator.num_pages }}
		    <br />
		{% endif %}
		
		{% if filter.qs.has_previous or assets.has_next %}
			<ul class="pager">
				{% if filter.qs.has_previous %}
					<li class="previous"><a href="?page={{ filter.qs.previous_page_number }}">&laquo; Previous</a></li>
				{% else %}
					<li class="previous disabled"><a href="">&laquo; Previous</a></li>
				{% endif %}
				
				{% if filter.qs.has_next %}
					<li class="next"><a href="?page={{ filter.qs.next_page_number }}">Next &raquo;</a></li>
				{% else %}
					<li class="next disabled"><a href="">Next &raquo;</a></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
    
{% endblock %}
