{% load staticfiles %}
{% load has_group %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<!-- things needed for Bootstrap -->
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
		
		<!-- things needed for JQuery -->
		<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" />

        <!-- things needed for Bootstrap-MultiSelect -->
		<link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
		
		<!-- our styling -->
		<link rel="stylesheet" href="{% static 'css/assets.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
	</head>

	<body>
		
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/jquery-ui.js' %}"></script>
		<script>
	        $(function() {
	            $( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
	        });
        </script>
        <script>
	        $(function() {
	            $( ".yymmdddatepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
	        });
        </script>
		
		<!-- ...even more things for Bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- things needed for bootstrap-multiselect -->
        <script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
	    <script type="text/javascript">
	        $(document).ready(function() {
	            $('.example-enableFiltering').multiselect({
	                enableCaseInsensitiveFiltering: true,
	                buttonWidth: '100%',
	                maxHeight: 300,
	            });
	        });
	    </script>
	    
	    <!-- Analytics -->
	    <script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-46049652-2', 'auto');
			ga('send', 'pageview');
		</script>


		<!-- bootstrap "navbar" menu -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" title="Open Menu">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-left"><img src="{% static 'logo/Logo6.png' %}" alt="AMRC Asset Management"></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% if user.is_authenticated %} 
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Assets <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="{% url 'asset_list' %}">All Assets</a>
									</li>
									<li>
										<a href="{% url 'active_asset_list' %}">"Active" Assets</a>
									</li>
						{% endif %}
										{% if request.user|has_group:"AddEditAssets" %} 
											<li class="divider"></li>
											<li>
												<a href="{% url 'asset_new' %}">Add New Asset</a>
											</li>
										{% endif %}
										{% if request.user|has_group:"ReserveAssets" %} 
											<li class="divider"></li>
											<li>
												<a href="{% url 'reserve_assets' %}">Bulk Reserve Assets</a>
											</li>
										{% endif %}
						{% if user.is_authenticated %} 
								</ul>
							</li>
						{% endif %}
						{% if request.user|has_group:"AddEditCalibrations" %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Calibration <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="{% url 'calibrated_asset_list' %}">All Assets Requiring Calibration</a>
									</li>
									<li>
										<a href="{% url 'calibrated_asset_list_active' %}">"Active" Assets Requiring Calibration</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="{% url 'new_calibration' %}">Add New Calibration</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="{% url 'calibration_asset_new' %}">Add New Asset For Calibration</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="{% url 'calibration_list' %}">All Calibration Records</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="{% url 'calibrated_asset_export_all' %}">Export ALL Assets Requiring Calibration</a>
									</li>
									<li>
										<a href="{% url 'calibrated_asset_export_active' %}">Export "Active" Assets Requiring Calibration</a>
									</li>
									<li>
										<a href="{% url 'calibration_asset_export_nextmonth' %}">Export All Assets With Calibration Due in Next 30 Days</a>
									</li>
									<li>
										<a href="{% url 'calibration_asset_export_custom_select' %}">Custom Calibration Export...</a>
									</li>
									<li>
										<a href="{% url 'export_calibration_records' %}">Export All Calibration Records</a>
									</li>
								</ul>
							</li>
						{% endif %}
						{% if user.is_authenticated %} 
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="{% url 'asset_list_filter' %}">Advanced Asset Filtering</a>
									</li>
									<li>
										<a href="{% url 'maintenance_export_all' %}">Export All Assets Requiring Maintenance</a>
									</li>
									<li>
										<a href="{% url 'environmental_export_all' %}">Export All Assets Requiring Environmental Checks</a>
									</li>
									<li>
										<a href="{% url 'insurance_export_all' %}">Export All Assets Requiring Insurance</a>
									</li>
									<li>
										<a href="{% url 'safety_export_all' %}">Export All Assets Requiring Safety Checks</a>
									</li>
									<li>
										<a href="{% url 'location_export_all' %}">Export Assets By Location</a>
									</li>
								</ul>
							</li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right userauth">
						<li id="user_auth">
							{% if user.is_authenticated %} 
								<p class="top-menu" id="logged_in_as">
									&nbsp;&nbsp;Hello {{ user.first_name }}! <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
								</p> 
							{% else %} 
								<a href="{% url 'login' %}" class="top-menu menu-icon"><span class="glyphicon glyphicon-lock gi-2x" title="Log in"></span></a> 
							{% endif %}
						</li>
					</ul>
					
					{% if user.is_authenticated %} 
						<ul>
							<form role="search" class="navbar-form navbar-right " action="/search/?q=">
								<div class="form-group">
									<input type="text" size="30" name="q" id="id_q" class="form-control" placeholder="Search all assets...">
								</div>
								<button class="btn btn-default" type="submit">
									Search
								</button>
							</form>
						</ul>
					{% endif %}
				</div>
			</div>
		</nav>

		<!-- page content block -->
		<div class="content container-fluid">
			<div class="row">
				<div class="col-md-8">
					<!--
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">
							&times;
						</button>
						<strong>System Under Development</strong><br />
						This system is currently undergoing testing and development, all records here are fake and liable to change or be deleted without notice. 
						Do not enter real asset records or use anything here for real Asset Management while this notice is in place!
					</div>
					-->
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>

	</body>
</html>