{% extends 'assetregister/base.html' %}

    {% block content %}
    
	<ul class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="{% url 'calibration_list' %}">Calibration</a></li>
	  <li class="active">Details</li>
	</ul>


        <div class="asset">
            
            <h3>{{ calibration.calibration_description }}
            
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'calibration_edit' slug=calibration.slug %}" title="Edit Calibration"><span class="glyphicon glyphicon-edit gi-1x"></span></a>
            {% endif %}
            {% if request.user.is_superuser %}
                <a class="btn btn-default" href="{% url 'calibration_confirm_delete' slug=calibration.slug %}" title="Delete Calibration"><span class="glyphicon glyphicon-trash gi-1x"></span></a>
            {% endif %}
            
            </h3>
            <br />
            
            <p>Calibration I.D. {{ calibration.calibration_record_id }}</p>
            
            <table class="table table-striped">
				<tbody>
						<tr>
							<td class="col-md-3">Asset:</td>
							<td><a href="{% url 'asset_detail' pk=calibration.asset.asset_id %}">{{ calibration.asset.asset_description }}</a></td>
						</tr>
        			
        			{% if calibration.asset.asset_manufacturer %}
						<tr>
							<td class="col-md-3">Manufacturer:</td>
							<td>{{ calibration.asset.asset_manufacturer }}</td>
						</tr>
        			{% endif %}
        			
					{% if calibration.asset.asset_status %}
						<tr>
							<td class="col-md-3">Asset Status:</td>
							<td>{{ calibration.asset.asset_status }}</td>
						</tr>
        			{% endif %}

            		{% if calibration.calibration_date %}
						<tr>
							<td class="col-md-3">Calibration Date:</td>
							<td>{{ calibration.calibration_date  }}</td>
						</tr>
        			{% endif %}
        			
						<tr>
							<td class="col-md-3">Calibration Result:</td>
							<td>
								<b>{{ calibration.calibration_outcome }}</b>
								{% if calibration.calibration_outcome == "Pass" %}
									<span = class="glyphicon glyphicon-ok gi-2x"></span>
								{% else %}
									<span = class="glyphicon glyphicon-remove gi-2x"></span>
								{% endif %}
							</td>
						</tr>
					
        			{% if calibration.calibration_date_next %}
						<tr>
							<td class="col-md-3">Next Calibration Due:</td>
							<td>{{ calibration.calibration_date_next  }}</td>
						</tr>
        			{% endif %}

					{% if calibration.calibrated_by_internal %}
						<tr>
							<td class="col-md-3">Calibrated By (Interal):</td>
							<td>{{ calibration.calibrated_by_internal  }}</td>
						</tr>
        			{% endif %}
        			
        			{% if calibration.calibrated_by_external %}
						<tr>
							<td class="col-md-3">Calibrated By (External):</td>
							<td>{{ calibration.calibrated_by_external  }}</td>
						</tr>
        			{% endif %}
           
            		{% if calibration.calibration_notes %}
            			<tr>
							<td class="col-md-3">Notes:</td>
							<td>{{ calibration.calibration_notes|linebreaks  }}</td>
						</tr>
					{% endif %}

            		{% if calibration.calibration_certificate %}
            			<tr>
							<td class="col-md-3">Certificate:</td>
							<td><a href="{{ calibration.calibration_certificate }}" target="_blank"><span class="glyphicon glyphicon-file gi-1x"></span>  Calibration Certificate</a></td>
						</tr>
					{% endif %}
				</tbody>
			</table>
           	
           	<br />
			<p>Calibration Record Last Edited {{ calibration.calibration_entered_on }} By {{ calibration.calibration_entered_by }}</p>

    	</div>

    {% endblock %}