{% extends 'assetregister/base.html' %}

{% block content %}
 	
 	<ul class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="{% url 'calibration_list' %}">Calibration</a></li>
	  <li class="active">Export</li>
	</ul>
	
	<form role="search" action="/calibration/export/custom/?date=">
		<h3>To export a CSV file (will open in MS Excel) of all assets with calibration due before a specific date, enter a valid date in yyyy-mm-dd format:</h3>
		<input type="text" name="date" class="yymmdddatepicker form-control" size="15" class="form-control" placeholder="Enter date as yyyy-mm-dd...">
		<button class="btn btn-default" type="submit">
			Go
		</button>
	</form>
	
	<br />
	
	<form role="search" action="/calibration/export/custom/?days=">
		<h3>Or to export a CSV file of all assets with calibration due in the next X number of days, enter the number of whole days:</h3>
		<input type="text" name="days" class="form-control" size="15" class="form-control" placeholder="Enter whole number of days...">
		<button class="btn btn-default" type="submit">
			Go
		</button>
	</form>
	
	<br />
	
	 <a href="{{request.META.HTTP_REFERER}}" class="btn btn-default">Back</a>
		
{% endblock %}