{% extends 'assetregister/base.html' %}

{% block content %}

	<ul class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li class="active">Caibration</li>
	</ul>

    <div class="count">
        We currently have a total of <b>{{ calibration_count }}</b> calibration records.
        {% if user.is_authenticated %}
        	(<a href="{% url 'new_calibration' %}">Add new calibration</a>)
        {% endif %}
    </div>

    {% for calibration in calibrations %}
        <div class="calibration">
            
            <a href="{% url 'calibration_detail' slug=calibration.slug %}"><h4>{{ calibration.calibration_description }}</h4></a>
            
            <p>Calibration ID: {{ calibration.calibration_record_id }} </p>
   			
   			{{ calibration.asset.asset_description }} <br />
            
            {% if calibration.asset.asset_manufacturer %}
                Manufacturer: {{ calibration.asset.asset_manufacturer }} <br />
            {% endif %}
            
            {% if calibration.calibration_date %}
                Calibrated on: {{ calibration.calibration_date }} <br />
            {% endif %}
            
            {% if calibration.calibration_outcome %}
                Calibration result: <b>{{ calibration.calibration_outcome }}</b> <br />
            {% endif %}
            
            <p>&nbsp;</p>
            <hr>
        </div>
    {% endfor %}
    
    <div class="pagination">
		{% if calibrations.paginator.count %}
		    Showing {{ calibrations.object_list|length }} of {{ calibrations.paginator.count }} Results on Page {{ calibrations.number }} of {{ calibrations.paginator.num_pages }}
		    <br />
		{% endif %}
		
		{% if calibrations.has_previous or calibrations.has_next %}
			<ul class="pager">
				{% if calibrations.has_previous %}
					<li class="previous"><a href="?page={{ calibrations.previous_page_number }}">&laquo; Previous</a></li>
				{% else %}
					<li class="previous disabled"><a href="">&laquo; Previous</a></li>
				{% endif %}
				
				{% if calibrations.has_next %}
					<li class="next"><a href="?page={{ calibrations.next_page_number }}">Next &raquo;</a></li>
				{% else %}
					<li class="next disabled"><a href="">Next &raquo;</a></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
    
{% endblock %}