{% extends "assetregister/base.html" %}

{% block content %}

	<ul class="breadcrumb">
	  <li class="active">Home</li>
	</ul>
	
	<div class="jumbotron">
  		<h1>AMRC Asset Management</h1>
		<p>To look up an Asset by it's AMRC Asset Number or (engraved) Equipment I.D. use the boxes below.</p>

		<form class="form-inline input-group" onsubmit="window.location = '{{ baseurl }}/asset/' + search.value; return false;">
			<label class="sr-only" for="search1">AMRC Asset Number</label>
			<input id="search" class="form-control input" placeholder="AMRC Asset Number, e.g. 123" type="search" name="search">
			<span class="input-group-btn">
				<input class="btn btn-default" type="submit" value="Go">
			</span>
		</form>
		<br />
		or
		<br /><br />
		<form class="form-inline input-group" onsubmit="window.location = '{{ baseurl }}/asset/equip-id/' + search1.value; return false;">
			<label class="sr-only" for="search1">Engraved Equipment I.D.</label>
			<input id="search1" class="form-control input" placeholder="Engraved Equipment I.D., e.g. R229B" type="search1" name="search1">
			<span class="input-group-btn">
				<input class="btn btn-default" type="submit" value="Go">
			</span>
		</form>
		<br />
		<p>
			If you don't know the Asset Number or Equipment I.D. you can use the search bar in the top menu
			 to quickly search across all assets, or alternatively <a href="{% url 'asset_list_filter' %}">use advanced filtering.</a>
		</p>
	</div>
	  
{% endblock %}