{% extends "assetregister/base.html" %}

{% block content %}

	<ul class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="#">QR Locations</a></li>
	  <li><a href="#">Location {{ qrlocation.location_id }}</a></li>
	  <li class="active">Move Asset</li>
	</ul>

	<b>There are currently {{ assetcount}} assets at this QR location</b>
	<p><a href="{% url 'qr_location_view_assets' pk=qrlocation.location_id %}">View Assets At This QR Location</a></p>

    <h2>Move Asset To This Location</h2>
    <br />
    <div class="well">
	    <form enctype="multipart/form-data" method="POST" class="form-horizontal asset-form">{% csrf_token %}
			<fieldset>
				
				<div class="form-group">
					<label class="col-lg-3 control-label">AMRC QR Location I.D.:</label>
					<div class="col-lg-6">
						<input class="form-control" id="disabledInput" placeholder="{{ qrlocation.location_id }}" disabled="" type="text">
					</div>	
				</div>
				
				<div class="form-group">
					<label class="col-lg-3 control-label">QR Location Building:</label>
					<div class="col-lg-6">
						<input class="form-control" id="disabledInput" placeholder="{{ qrlocation.building }}" disabled="" type="text">
					</div>	
				</div>
				
				<div class="form-group">
					<label class="col-lg-3 control-label">QR Specific Location (e.g. area or room):</label>
					<div class="col-lg-6">
						<input class="form-control" id="disabledInput" placeholder="{{ qrlocation.location_room }}" disabled="" type="text">
					</div>	
				</div>

				<br />

				{% for field in form %}
					<div class="form-group">
						<label for="inputEmail" class="col-lg-3 control-label">{{ field.label_tag }}</label>
						<div class="col-lg-6">
							{{ field.errors }}
							{{ field }}
						</div>
					</div>
				{% endfor %}

				
				<div class="form-group">
					<div class="col-lg-3 col-lg-offset-3">
						<a href="{{request.META.HTTP_REFERER}}" class="btn btn-default">Back</a>
						<button type="reset" class="btn btn-default">
							Cancel
						</button>
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</div>
				</div>
			</fieldset>
	    </form>
    </div>
{% endblock %}